*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    width: 1200px;
    margin: 0 auto;
}
div{
    background-color: #c6c6c9;
}
.div1, .div2, .div4, .div6, .div8, .div9, .div10, .div11-1, .div11-2{
    height: 75px;
}
.div2, .div3-1, .div3-2, .div4, .div5, .div6, .div7, .div7-1, .div7-2, .div7-3, .div7-1-1, .div7-1-2, .div8, .div9, .div10, .div11-1, .div11-2, .div12, .div12-1, .div12-2{
    float: left; 
}
.div2{
    width: 580px;
    margin: 60px 300px;
}
.div3-1, .div3-2{
    height: 600px;
    width: 590px;
}
.div3-2{
    float:right;
}
.div4 {
    width: 700px;
    margin: 60px 250px;
}
.div-5 {
    margin:0 60px;
    margin-left:60px;
    width: 1100px;
}
.div5{
    height: 255px;
    width: 255px;
    margin-right: 20px;
    margin-bottom: 30px;
}
.div5-4,
.div5-8{
    margin-right: 0;
}
.div6{
    width: 900px;
    margin: 30px 150px;
}
.div7{
    height: 780px;
    width: 1200px;
    margin-top: 30px;
}
.div7-1,
.div7-2,
.div7-3{
    height: 590px;
    width: 320px;
    margin: 100px 80px;
    background-color: white;
}
.div7-2{
    margin-left: 0;
    margin-right: 0;
}
.div7-1{
    margin-right: 40px;
}
.div7-3{
    margin-left: 40px;
}
.div7-1-1{
    height: 45px;
    width: 260px;
    margin: 30px;
}
.div7-1-2{
    height: 210px;
    width: 260px;
    margin: 30px;
    margin-top: 0;
}
.div8 {
    width: 350px;
    margin: 60px 430px;
}
.div9,
.div10 {
    width: 625px;
    margin: 15px 295px;
    margin-top: 0;
}
.div10{
    height: 270px;
    margin-bottom:15px;
}
.div11{
    margin:272px;
}
.div11-1{
    width: 300px;
    margin: 20px 8px 100px 20px;
}
.div12{
    height: 330px;
    width: 1200px;
}
.div12-1{
    height: 260px;
    width: 550px;
    margin: 35px;
    margin-right: 0;
    background-color:white;
}
